###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET={{bw:hrk-live-coding/symfony/app-secret}}
APP_SHARE_DIR=var/share
###< symfony/framework-bundle ###

###> symfony/routing ###
DEFAULT_URI=http://localhost
###< symfony/routing ###

###> doctrine/doctrine-bundle ###
DATABASE_URL="postgresql://dev:{{bw:hrk-live-coding/db/postgres-password}}@postgres:5432/hrk_demo?serverVersion=16&charset=utf8"
###< doctrine/doctrine-bundle ###
